# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Distribution
/dist

# Environment
.env
.env.local
.env.*.local

# Build
/build

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Temporary files
*.tmp
*.temp

# Local config
.local
